.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}

.TokenNotDefined {
  color: red;
}

.App-header {
  text-align: center;
  font-size: calc(10px+2vmin);
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-container{
  width:50%;
  margin: 0 25%;
}

input, textarea {
  width: 100%;
  padding:10px;
  margin: 8px 0;
  font-size: 0.8rem;
}

button {
  color: #444;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
}

button:disabled{
   color: #f3f3f3;
   background-color: #444;
   cursor: not-allowed;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.fa-trash {
  color: crimson;
}

h1  {
  font-size: 3em;
  color: orange;
}

h1 .fa-spotify{
  color: green;
}

.fa-sign-out-alt{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}
